<div class="sidebar-spacer">
  <div class="sidebar-section-title">Socials</div>
    <div class="sidebar-socials">
      <a href="#" class="sidebar-social-link" aria-label="Discord" target="_blank" rel="noopener">
        {{ partial "icon.html" "discord"}}
      </a>
      <a href="#" class="sidebar-social-link" aria-label="YouTube" target="_blank" rel="noopener">
        {{ partial "icon.html" "youtube"}}
      </a>
      <a href="#" class="sidebar-social-link" aria-label="LinkedIn" target="_blank" rel="noopener">
        {{ partial "icon.html" "linkedin"}}
      </a>
      <a href="#" class="sidebar-social-link" aria-label="GitHub" target="_blank" rel="noopener">
        {{ partial "icon.html" "github"}}
      </a>
    </div>
</div>